.header {
    display: flex;
    justify-content: space-between;
}

.header ul {
    display: flex;
    list-style-type: none;
}

.header ul li {
    padding: 5px 10px;
}

.header ul li a {
    text-decoration: none;
    color: orange;
}

.active {
    color: red !important;
    text-decoration: underline !important;
}

