
.btn {
    background-color: gray;
    padding: 5px 10px;
    border: 0;
    cursor: pointer;
    color: white;
}

.btn-primary{
    background-color: rgb(0, 140, 255);
}

.btn-primary:hover{
    background-color: rgb(44, 153, 243);
}

.btn-warning {
    background-color: red;
}

.btn-warning:hover {
    background-color: rgb(237, 46, 46);
}


.btn-success {
    background-color: green;
}

.btn-success:hover {
    background-color: rgb(94, 234, 94)
}

